@import url("https://ozone-ui.netlify.app/index.css");

:root {
    --white-clr:white;
    --primary-color:#EF4444;
    --nav-bg-color :#112457;
    --prime-blue:#93C5FD;
    --secondary-pink:#F9ABD4;
    --info-clr:#A5B4FC;
    --warning-clr:#FCD34D;
    --danger-clr:#DC2626;
    --success-clr:#10B981;
    --grey-clr:grey;

}